/* login.component.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-form {
  background: white;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #038014;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}


.forgot-password {
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  text-decoration: none;
  color: #6e8efb;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.forgot-password a:hover {
  color: #4a6cf7;
  text-shadow: 0 2px 5px rgba(74, 108, 247, 0.5);
}

.signup {
  text-align: center;
  margin-top: 20px;
}

.signup p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.signup a {
  text-decoration: none;
  color: #6e8efb;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signup a:hover {
  color: #4a6cf7;
}